@font-face {
  font-family: "iconfont"; /* Project id 4705056 */
  src: url('iconfont.woff2?t=1728635227135') format('woff2'),
       url('iconfont.woff?t=1728635227135') format('woff'),
       url('iconfont.ttf?t=1728635227135') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaishi1:before {
  content: "\e622";
}

.icon-nv:before {
  content: "\e662";
}

.icon-nan:before {
  content: "\e8b3";
}

